# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />	

<%def name="head()">
        <title>GetMyAd | Общие условия программы</title>
    <meta name="description" content="Рекламная партнерская сеть Yottos GetMyAd: для веб-мастеров. Общие условия программы. Простой заработок на своем сайте."/>
</%def>


<div style="margin: 0 auto; width: 750px"> 
<h2>Общие условия программы Yottos GetMyAd&#8482;</h2> 
<p>Перед началом работы с программой GetMyAd&#8482; внимательно прочтите <a href="${h.url_for(controller='info', action='rules')}">Правила программы Yottos GetMyAd&#8482;</a>и периодически просматривайте их, так как система поиска Yottos имеет право в любой момент дополнять или изменять Правила.</p> 
<p> Все Веб-мастера, участвующие в программе  GetMyAd&#8482; должны соблюдать данные Правила. В случае  невыполнения Правил, система поиска Yottos имеет право без предварительного уведомления блокировать аккаунт  и отключать выгрузку рекламы.</p> 
<p>Система поиска Yottos засчитывает только клики, совершенные заинтересованными пользователями. Использование любых способов, искусственно увеличивающих количество кликов и показов, запрещено! </p> 
 
</div> 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39710056-2', 'auto', {'allowLinker': true});
  ga('require', 'displayfeatures');
  ga('require', 'linker');
  ga('linker:autoLink', ['blog.yottos.com','yottos.com','adload.yottos.com'] );
  ga('send', 'pageview');
  ga('create', 'UA-39710056-5', 'auto', {'name': 'newTracker'});
  ga('newTracker.send', 'pageview');

</script>
<script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1044799191;
    var google_custom_params = window.google_tag_params;
    var google_remarketing_only = true;
    /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">;
</script>
<noscript>
    <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1044799191/?value=0&amp;guid=ON&amp;script=0"/>
    </div>
</noscript>
