# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" /> <!-- %> -->

<%def name="head()">
        <title>GetMyAd | Регистрация токена </title>
    <meta name="description" content="Рекламная партнерская сеть Yottos GetMyAd: для владельцев сайтов. Программа размещает объявления с товарными предложениями на вашем сайте — вы получаете деньги за клики. Это простой заработок на своем сайте без вложений"/>
</%def>
 ##%>


<h2>Токен принят</h2>

<p>Система GetMyAd будет использовать данные из Google Analytics для повышения релевантности приводимых посетителей. </p>
