# -*- coding: utf-8 -*-
<%inherit file="/main.mako.html" />
<%def name="head()">
    <title>Статистика GetMyAd</title>
    <link rel="stylesheet" href="/css/main.css?v=3" type="text/css" media="screen, projection"/>
    <link href="/css/jquery.formstyler.css" rel="stylesheet"/>
    <script src="/js/jquery.formstyler.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>
    <script src="/lib/jqtree/tree.jquery.js"></script>
    <script src="/lib/underscore.js"></script>
    <script src="/lib/backbone.js"></script>
    <script src="/lib/backbone.marionette.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</%def>
<style type="text/css">

    .list {
        width: 190px;
    }

    .conditions {
        margin: 10px;
        padding: 5px;
    }

    #common {
        float: left;
    }

    .opt {
        /*	color: green;
            padding: 50px;*/
    }

    th {
        padding-top: 15px;
        text-align: left;
    }

    .jq-select-multiple ul {
        min-height: 400px;
    }

    tr > td > hr {
        margin: 20px 0 5px;
    }
</style>
<style type="text/css">
    ul.jqtree-tree {
        list-style: none outside;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
    }

    ul.jqtree-tree ul.jqtree_common {
        list-style: none outside;
        margin-left: 12px;
        margin-right: 0;
        margin-bottom: 0;
        padding: 0;
        display: block;
    }

    ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
        display: none;
    }

    ul.jqtree-tree li.jqtree_common {
        clear: both;
        list-style-type: none;
    }

    ul.jqtree-tree .jqtree-toggler {
        font-size: 25px;
        padding: 5px;
        border-bottom: none;
        color: #333;
        text-decoration: none;
        vertical-align: middle;
    }

    ul.jqtree-tree .jqtree-toggler:hover {
        color: #000;
        text-decoration: none;
    }

    ul.jqtree-tree .jqtree-toggler.jqtree-closed {
        background-position: 0 0;
    }

    ## ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
    ##     margin-right: 0.5em;
    ## }
    ##
    ## ul.jqtree-tree .jqtree-toggler.jqtree-toggler-right {
    ##     margin-left: 0.5em;
    ## }

    .jqtree-element > span.name{
        position: relative;
        margin-right: 5px;
        top: -7px;
    }

    ul.jqtree-tree .jqtree-element {
        cursor: pointer;
        position: relative;
    }

    ul.jqtree-tree .jqtree-title {
        color: #1C4257;
        vertical-align: middle;
        margin-left: 1.5em;
    }

    ul.jqtree-tree .jqtree-title.jqtree-title-folder {
        margin-left: 0;
    }

    ul.jqtree-tree li.jqtree-folder {
        margin-bottom: 4px;
    }

    ul.jqtree-tree li.jqtree-folder.jqtree-closed {
        margin-bottom: 1px;
    }

    ul.jqtree-tree li.jqtree-ghost {
        position: relative;
        z-index: 10;
        margin-right: 10px;
        /* todo: add classes to span? */
    }

    ul.jqtree-tree li.jqtree-ghost span {
        display: block;
    }

    ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
        border: solid 2px #0000ff;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        height: 8px;
        width: 8px;
        position: absolute;
        top: -4px;
        left: -6px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
        background-color: #0000ff;
        height: 2px;
        padding: 0;
        position: absolute;
        top: -1px;
        left: 2px;
        width: 100%;
    }

    ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
        margin-left: 48px;
    }

    ul.jqtree-tree span.jqtree-border {
        position: absolute;
        display: block;
        left: -2px;
        top: 0;
        border: solid 2px #0000ff;
        border-radius: 6px;
        margin: 0;
        box-sizing: content-box;
    }

    ul.jqtree-tree li.jqtree-selected > .jqtree-element,
    ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
        background-color: #97BDD6;
        background: -webkit-gradient(linear, left top, left bottom, from(#BEE0F5), to(#89AFCA));
        background: -moz-linear-gradient(top, #BEE0F5, #89AFCA);
        background: -ms-linear-gradient(top, #BEE0F5, #89AFCA);
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    }

    ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
        outline: dashed 1px #0000ff;
    }

    ul.jqtree-tree.jqtree-rtl {
        direction: rtl;
    }

    ul.jqtree-tree.jqtree-rtl ul.jqtree_common {
        margin-left: 0;
        margin-right: 12px;
    }

    ul.jqtree-tree.jqtree-rtl .jqtree-toggler {
        margin-left: 0.5em;
        margin-right: 0;
    }

    ul.jqtree-tree.jqtree-rtl .jqtree-title {
        margin-left: 0;
        margin-right: 1.5em;
    }

    ul.jqtree-tree.jqtree-rtl .jqtree-title.jqtree-title-folder {
        margin-right: 0;
    }

    ul.jqtree-tree.jqtree-rtl li.jqtree-ghost {
        margin-right: 0;
        margin-left: 10px;
    }

    ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-circle {
        right: -6px;
    }

    ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-line {
        right: 2px;
    }

    ul.jqtree-tree.jqtree-rtl li.jqtree-ghost.jqtree-inside {
        margin-left: 0;
        margin-right: 48px;
    }

    ul.jqtree-tree.jqtree-rtl span.jqtree-border {
        right: -2px;
    }

    span.jqtree-dragging {
        color: #fff;
        background: #000;
        opacity: 0.6;
        cursor: pointer;
        padding: 2px 8px;
    }

    .jqtree-tree-block-style {
        background-color: #fafafa;
    }

    .jqtree-tree-block-style ul.jqtree-tree {
        margin-left: 0;
    }

    .jqtree-tree-block-style ul.jqtree-tree ul.jqtree_common {
        margin-left: 2em;
    }

    .jqtree-tree-block-style ul.jqtree-tree .jqtree-element {
        margin-bottom: 8px;
        background-color: #ddd;
        padding: 8px;
    }

    .jqtree-tree-block-style ul.jqtree-tree .jqtree-element .jqtree-title {
        margin-left: 0;
    }

    .jqtree-tree-block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element,
    .jqtree-tree-block-style ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
        background: #97BDD6;
        text-shadow: none;
    }



    .jqtree-tree-block-style div.jqtree-element {
        margin-bottom: 8px;
        background-color: #ddd;
        padding: 8px;
    }



    .jqtree-tree-scroll-container {
        max-height: 505px;
        overflow-y: auto;
        user-select: none;
    }
</style>

<div id="conditions" class="conditions">
    <a href="${h.url_for(controller='adload', action='campaign_overview', id=c.campaign.id)}">&larr; к управлению
        кампанией</a>
    <form action="/adload/saveConditions" method="post" id="conditions_form" name="conditions_form">
        <input type="hidden" name="token" value="${c.token}"/>
        <table>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Настройка типа рекламной компании:</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="campaign_type">Тип рекламной компании:</label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    ${h.select("campaign_type", c.campaign_type, c.campaign_types, multiple=false)}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Настройка времени показа рекламы:</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="time_from">Время показа: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <%
                        def timeToStr(time):
							time = int(time)
							if time <=9:
								time = '0' + str(time)
							return time

                        c.startShowTimeHours = timeToStr(c.startShowTimeHours)
                        c.startShowTimeMinutes = timeToStr(c.startShowTimeMinutes)
                        c.endShowTimeHours= timeToStr(c.endShowTimeHours)
                        c.endShowTimeMinutes = timeToStr(c.endShowTimeMinutes)

                        hours = []
                        i = 0
                        while i <= 24:
							if i <=9:
								hours.append('0' + str(i))

							else: hours.append(i)
							i += 1
                        minutes = ['00', '15', '30', 45]
                    %>
                    c
                    <select name="hours_from" id="hours_from">
                        % for x in hours:
                            <option> ${x} </option>
                        % endfor
                    </select>
                    <b>:</b>
                    <select name="minutes_from" id="minutes_from">
                        % for x in minutes:
                            <option> ${x} </option>
                        % endfor
                    </select>
                    до
                    <select name="hours_to" id="hours_to">
                        % for x in hours:
                            <option> ${x} </option>
                        % endfor
                    </select>
                    <b>:</b>
                    <select name="minutes_to" id="minutes_to">
                        % for x in minutes:
                            <option> ${x} </option>
                        % endfor
                    </select>
                    <script type="text/javascript">
                        document.getElementById('hours_from').value = '${c.startShowTimeHours}';
                        document.getElementById('minutes_from').value = '${c.startShowTimeMinutes}';
                        document.getElementById('hours_to').value = '${c.endShowTimeHours}';
                        document.getElementById('minutes_to').value = '${c.endShowTimeMinutes}';
                    </script>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="daysOFWeek">Дни недели: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <%
                        daysOfWeek = [u'Пн', u'Вт', u'Ср', u'Чт', u'Пт', u'Сб', u'Вс']
                        i = 0
                    %>
                    % for x in daysOfWeek:
                    <%
                        i += 1
                        if i in c.days:
							check = True
                        else:
							check = False
                        name = 'day' + str(i)
                    %>
                        <b>${x}</b>
                    % if check:
                        <input type="checkbox" name="${name}" id="${name}" checked=""/>
                    % else:
                        <input type="checkbox" name="${name}" id="${name}"/>
                    %endif
                    % endfor
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Настройка Гео таргетинга:</h2>
                </th>
            </tr>

            <tr>
                <th>
                    <label for="geoTargeting">Страна</label>
                </th>
                <th>
                    <label for="regionTargeting">Город</label>
                </th>
            </tr>
            <tr>
                <td>
                    <select name="geoTargeting" id="geoTargeting" multiple='true' size='8'>
                        %for country in c.all_geo_countries:
                            %if not isinstance(country['country'], list):
                                %if country['country'] in c.geoTargeting:
                                    <option selected='selected' value="${country['country']}">${country['ru']}</option>
                                %else:
                                    <option value="${country['country']}">${country['ru']}</option>
                                %endif
                            %else:
                                %if set(country['country']).issubset(set(c.geoTargeting)):
                                    <option selected='selected' value="${country['name']}">${country['ru']}</option>
                                %else:
                                    <option value="${country['name']}">${country['ru']}</option>
                                %endif
                            %endif
                        %endfor
                    </select>
                </td>
                <td>
                    ${h.select(name="regionTargeting", selected_values=c.regionTargeting, options=c.all_geo_regions, multiple=True, size=8) }
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Настройка категорий сайта:</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="all_categories">Категория сайтов:</label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <select id="all_categories" name="all_categories" multiple="true" size='10'>
                        % for x in c.all_categories:
                            % if x['guid'] in c.categories:
                                <option value="${x['guid']}" selected='true'>${x['title']}</option>
                            % else:
                                <option value="${x['guid']}">${x['title']}</option>
                            % endif
                        % endfor
                    </select>
                </td>
            </tr>

            <tr>
                <th>
                    <label>Аккаунты/домены/информеры для показа: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="radio" id="showOnAllInformers" name="showCoverage"
                           value="all" ${"checked" if c.showCoverage == 'all' else ""}>
                    Все, кроме запрещённых
                    </input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="radio" id="showOnThematicInformers" name="showCoverage"
                           value="thematic" ${"checked" if c.showCoverage == 'thematic' else ""} >
                    Тематические и разрешённые, кроме запрещённых
                    </input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="radio" id="showOnAllowedInformers" name="showCoverage"
                           value="allowed" ${"checked" if c.showCoverage == 'allowed' else ""} >
                    Только разрешённые
                    </input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Настройка аудитории:</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="all_device">Устроуства:</label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <select id="all_device" name="all_device" multiple="true" size='8'>
                        % for x in c.all_device:
                            % if x['name'] in c.device:
                                <option value="${x['name']}" selected='true'>${x['title']}</option>
                            % else:
                                <option value="${x['name']}">${x['title']}</option>
                            % endif
                        % endfor
                    </select>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="gender">Пол:</label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    ${h.select(name="gender", selected_values=c.gender, options=c.all_gender)}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="gender">Ценовой диапазон пользователей:</label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    ${h.select(name="cost", selected_values=c.cost, options=c.all_cost)}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Настройка параметров показа рекламы:</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="UnicImpressionLot">Уникальность показа: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" min="1" max="10" name="UnicImpressionLot" id="UnicImpressionLot"
                           value="${c.UnicImpressionLot}"/>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="offer_by_campaign_unique">Кол-во РП в рекламном блоке: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" name="offer_by_campaign_unique" id="offer_by_campaign_unique"
                           value="${c.offer_by_campaign_unique}"/>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="load_count">Кол-во загружаемых РП: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" min="1" max="2000000" name="load_count" id="load_count"
                           value="${c.load_count}"/>
                </td>
            </tr>
            <tr>
                <th>
                    Стиль отображения рекламы
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="checkbox" id="brending" name="brending" ${"checked" if c.brending else ""}>Заполнять
                    весь рекламный блок</input>
                </td>
            </tr>
            <tr>
                <th>
                    Параметры отображения рекламы
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="checkbox" id="disabledRetargitingStyle"
                           name="disabledRetargitingStyle" ${"checked" if c.campaign.disabled_retargiting_style else ""}>Отключить
                    стиль ретаргетинговых товаров</input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="checkbox" id="disabledRecomendetStyle"
                           name="disabledRecomendetStyle" ${"checked" if c.campaign.disabled_recomendet_style else ""}>Отключить
                    стиль рекомендованых товаров</input>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="style_type">Тип стилизации: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    ${h.select("style_type", c.style_type, c.style_types, multiple=false)}
                </td>
            </tr>
            <tr class="style_data">
                <td colspan="2">
                    <label for="style_image" style="display: inline-block; width: 120px;">Ссылка на логотип</label>
                    <input type="url" size="60" name="style_image" id="style_image"
                           value="${c.style_data['img']}"></input>
                </td>
            </tr>
            <tr class="style_data">
                <td colspan="2">
                    <label for="style_head_title" style="display: inline-block; width: 120px;">текст заголовка</label>
                    <input type="text" size="60" name="style_head_title" id="style_head_title"
                           value="${c.style_data['head_title']}"></input>
                </td>
            </tr>
            <tr class="style_data">
                <td colspan="2">
                    <label for="style_button_title" style="display: inline-block; width: 120px;">текст кнопки</label>
                    <input type="text" size="60" name="style_button_title" id="style_button_title"
                           value="${c.style_data['button_title']}"></input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Настройка ремаркетинга:</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="retargeting_type">Тип ретаргетинга: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    ${h.select("retargeting_type",c.retargeting_type, c.retargeting_types, multiple=false)}
                </td>
            </tr>
            <tr>
            <tr>
                <th>
                    <label for="recomendet_count">Алгоритм показа рекомендованых РП: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    ${h.select("recomendet_type",c.recomendet_type,c.recomendet_types,multiple=false)}
                </td>
            </tr>
            <tr>
                <th>
                    <label for="recomendet_count">Кол-во рекомендованых РП: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" min="0" max="10" name="recomendet_count" id="load_count"
                           value="${c.recomendet_count}"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Настройка тематик:</h2>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="recomendet_count">Кол-во дней набора новой аудитории: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" min="1" max="100" name="thematic_day_new_auditory"
                           id="thematic_day_new_auditory"
                           value="${c.thematic_day_new_auditory}"/>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="recomendet_count">Кол-во дней уменьшения новой аудитории: </label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="number" min="1" max="100" name="thematic_day_off_new_auditory"
                           id="thematic_day_off_new_auditory"
                           value="${c.thematic_day_off_new_auditory}"/>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="recomendet_count">Выберите максимум 5 тематик: </label>
                </th>
            </tr>
            <tr>
                <td>
                    <div id="thematic_tree" class="jqtree-tree-block-style jqtree-tree-scroll-container"></div>
                </td>
                <td>
                    <div id="thematic_camp" class="jqtree-tree-block-style jqtree-tree-scroll-container" style="margin: 10px;"></div>
                    <input id="thematics" type="text" name="thematics" value="${c.thematics}" style="display: none;"></input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
            <tr>
                <th>
                    <h2>Настройка параметров URL и передачи UTM-меток:</h2>
                </th>
            </tr>
             <tr>
                <th>
                    <label>Фильтрация трафика:</label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="checkbox" id="disable_filter"
                           name="disable_filter" ${"checked" if c.disable_filter else ""}>Не фильтровать трафик</input>
                </td>
            </tr>
            <tr>
                <th>
                    <label>Параметры URL:</label>
                </th>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="checkbox" id="yottosPartnerMarker"
                           name="yottosPartnerMarker" ${"checked" if c.campaign.yottos_partner_marker else ""}>Добавлять
                    автоматически UTM-метки</input>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <input type="checkbox" id="yottosHideSiteMarker"
                           name="yottosHideSiteMarker" ${"checked" if c.campaign.yottos_hide_site_marker else ""}>Скрывать
                    сайт партнера</input>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr>
                </td>
            </tr>
        </table>
        <input type="submit" class="styler" value="Сохранить">
    </form>
    <a href="${h.url_for(controller='adload', action='campaign_overview', id=c.campaign.id)}">&larr; к управлению
        кампанией</a>
</div>

<hr/>

<div class="conditions">
    <form action="/adload/switchShowActiveOrAll" method="post" id="show_all_or_active_form"
          name="show_all_or_active_form"/>
    <input type="hidden" name="token" value="${c.token}"/>
    <table>
        <tr>
            <td>
                <input type="radio" name="showActiveOrAll" id="showActive"
                       value="active" ${"checked" if c.showActiveOrAll == "active" else ""}>
                Показывать только активные аккаунты
                </input>
            </td>
        </tr>
        <tr>
            <td>
                <input type="radio" name="showActiveOrAll" id="showAll"
                       value="all" ${"checked" if c.showActiveOrAll == "all" else ""}>
                Показывать все аккаунты
                </input>
            </td>
        </tr>
        <tr>
            <td>
                <input class="styler" type="submit" value="Применить"/>
            </td>
        </tr>
    </table>
    </form>
    <hr/>
    <div id='all-accounts'>
        <table>
            <tr>
                <td>
                    <div id='common-accounts'>
                        <h3>Все аккаунты</h3>
                        <form name="common_accounts_form" action="" method="post">
                            <input type="hidden" name="token" value="${c.token}"/>
                            <div id="accounts-buttons">
                                <input type="button" class="styler" name="add-acc-to-show-btn" id="add-acc-to-show-btn"
                                       value="Показывать"
                                       onClick="document.common_accounts_form.action='/adload/addAccountsToShowList';
                document.common_accounts_form.submit();"/>

                                <input type="button" class="styler" name="add-acc-to-ignore-btn"
                                       id="add-acc-to-ignore-btn" value="Игнорировать"
                                       onClick="document.common_accounts_form.action='/adload/addAccountsToIgnoreList';
                document.common_accounts_form.submit();"/>
                            </div>
                            <select id="common-accounts-list" name="common-accounts-list" class="list" multiple="true"
                                    size="16">
                                % for x in sorted(c.common.get('accounts')):
                                    <option>${x}</option>
                                % endfor
                            </select>
                        </form>
                    </div>
                </td>
                <td>
                    <div id='show-accounts'>
                        <h3>Разрешённые</h3>
                        <form name="show_accounts_form" action="/adload/removeAccountsFromShowList" method="post">
                            <input type="hidden" name="token" value="${c.token}"/>
                            <div id="show-accounts-buttons">
                                <input type="submit" class="styler" id="remove_accounts_from_show"
                                       name="remove_accounts_from_show" value="Убрать"/>
                            </div>
                            <select id="show-accounts-list" name="show-accounts-list" class="list" multiple="true"
                                    size="16">
                                % for x in sorted(c.shown.get('accounts')):
                                    <option>${x}</option>
                                % endfor
                            </select>
                        </form>
                    </div>
                </td>
                <td>
                    <div id='ignore-accounts'>
                        <h3>Запрещённые</h3>
                        <form name="ignore_accounts_form" action="/adload/removeAccountsFromIgnoreList" method="post">
                            <input type="hidden" name="token" value="${c.token}"/>
                            <div id="ignore-accounts-buttons">
                                <input type="submit" class="styler" id="remove_accounts_from_ignore"
                                       name="remove_accounts_from_ignore" value="Убрать"/>
                            </div>
                            <select id="ignore-accounts-list" name="ignore-accounts-list" class="list" multiple="true"
                                    size="16">
                                % for x in sorted(c.ignored.get('accounts')):
                                    <option>${x}</option>
                                % endfor
                            </select>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <hr/>
    <div id='all-domains'>
        <table>
            <tr>
                <td>
                    <div id='common-domains'>
                        <h3>Все домены</h3>
                        <form name="common_domains_form" action="" method="post">
                            <input type="hidden" name="token" value="${c.token}"/>
                            <div id="domains-buttons">
                                <input type="button" class="styler" name="add-domains-to-show-btn"
                                       id="add-domains-to-show-btn" value="Показывать"
                                       onClick="document.common_domains_form.action='/adload/addDomainsToShowList';
            document.common_domains_form.submit();"/>

                                <input type="button" class="styler" name="add-domains-to-ignore-btn"
                                       id="add-domains-to-ignore-btn" value="Не показывать"
                                       onClick="document.common_domains_form.action='/adload/addDomainsToIgnoreList';
            document.common_domains_form.submit();"/>
                            </div>
                            <select id="common-domains-list" name="common-domains-list" class="list" multiple="true"
                                    size="16">
                                % for x in sorted(c.common.get('domains').keys()):
                                    <optgroup class="opt" label=${x}>
                                        % for y in sorted(c.common.get('domains')[x]):
                                            <option>${y}</option>
                                        % endfor
                                    </optgroup>
                                % endfor
                            </select>
                        </form>
                    </div>
                </td>
                <td>
                    <div id='show-domains'>
                        <h3>Разрешённые</h3>
                        <form name="show_domains_form" action="/adload/removeDomainsFromShowList" method="post">
                            <input type="hidden" name="token" value="${c.token}"/>
                            <div id="show-domains-buttons">
                                <input type="submit" class="styler" id="remove_domains_from_show"
                                       name="remove_domains_from_show" value="Убрать"/>
                            </div>
                            <select id="show-domains-list" name="show-domains-list" class="list" multiple="true"
                                    size="16">
                                % for x in sorted(c.shown.get('domains').keys()):
                                    <optgroup label=${x}>
                                        % for y in sorted(c.shown.get('domains')[x]):
                                            <option>${y}</option>
                                        % endfor
                                    </optgroup>
                                % endfor
                            </select>
                        </form>
                    </div>
                </td>
                <td>
                    <div id='ignore-domains'>
                        <h3>Запрещённые</h3>
                        <form name="ignore_domains_form" action="/adload/removeDomainsFromIgnoreList" method="post">
                            <input type="hidden" name="token" value="${c.token}"/>
                            <div id="ignore-domains-buttons">
                                <input type="submit" class="styler" id="remove_domains_from_ignore"
                                       name="remove_domains_from_ignore" value="Убрать"/>
                            </div>
                            <select id="ignore-domains-list" name="ignore-domains-list" class="list" multiple="true"
                                    size="16">
                                % for x in sorted(c.ignored.get('domains').keys()):
                                    <optgroup label=${x}>
                                        % for y in sorted(c.ignored.get('domains')[x]):
                                            <option>${y}</option>
                                        % endfor
                                    </optgroup>
                                % endfor
                            </select>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <hr/>
    <div id='all-adv'>
        <h3>Рекламные блоки</h3>
        <span style="display: block;">Для поиска рекламного блока по индетификатору, введите индетификатор в поле и кликните в свободном месте. Пример: 3a14c42a-2fa7-11e0-a734-00163e0300c1</span>
        <span style="display: block;"> <input id="searchInput" class="type-search styler" type="text"/> </span>
        <table>
            <tr>
                <td>
                    <div id="common-adv">
                        <form name="common_adv_form" action="" method="post">
                            <h3>Все рекламные блоки</h3>
                            <input type="hidden" name="token" value="${c.token}"/>
                            <div id="adv-buttons">
                                <input type="button" class="styler" name="add-adv-to-show-btn" id="add-adv-to-show-btn"
                                       value="Показывать"
                                       onClick="document.common_adv_form.action='/adload/addAdvToShowList';
              document.common_adv_form.submit();"/>
                                <input type="button" class="styler" name="add-adv-to-ignore-btn"
                                       id="add-adv-to-ignore-btn" value="Не показывать"
                                       onClick="document.common_adv_form.action='/adload/addAdvToIgnoreList';
              document.common_adv_form.submit();"/>
                            </div>
                            <select id="common-adv-list" name="common-adv-list" class="list" multiple="true" size="16">
                                % for x in sorted(c.common.get('adv').keys()):
                                    <optgroup label=${x}>
                                        % for y in sorted(c.common.get('adv')[x]):
                                            <optgroup label=${y}>
                                                % for z in c.common.get('adv')[x][y]:
                                                    <option value="${z['guid']}">${z['title']}</option>
                                                % endfor
                                            </optgroup>
                                        % endfor
                                    </optgroup>
                                % endfor
                            </select>
                        </form>
                    </div>
                </td>
                <td>
                    <div id="show-adv">
                        <h3>Разрешённые</h3>
                        <form name="show_adv_form" action="/adload/removeAdvFromShowList" method="post">
                            <input type="hidden" name="token" value="${c.token}"/>
                            <div id="show-adv-buttons">
                                <input type="submit" class="styler" id="remove_adv_from_show"
                                       name="remove_adv_from_show" value="Убрать"/>
                            </div>
                            <select id="show-adv-list" name="show-adv-list" class="list" multiple="true" size="16">
                                % for x in sorted(c.shown.get('adv').keys()):
                                    <optgroup label=${x}>
                                        % for y in sorted(c.shown.get('adv')[x]):
                                            <optgroup label=${y}>
                                                % for z in c.shown.get('adv')[x][y]:
                                                    <option value='${z['guid']}'>${z['title']}</option>
                                                % endfor
                                            </optgroup>
                                        % endfor
                                    </optgroup>
                                % endfor
                            </select>
                        </form>
                    </div>
                </td>
                <td>
                    <div id="ignore-adv">
                        <h3>Запрещённые</h3>
                        <form name="ignore_adv_form" action="/adload/removeAdvFromIgnoreList" method="post">
                            <input type="hidden" name="token" value="${c.token}"/>
                            <div id="ignore-adv-buttons">
                                <input type="submit" class="styler" class="styler" id="remove_adv_from_ignore"
                                       name="remove_adv_from_ignore" value="Убрать"/>
                            </div>
                            <select id="ignore-adv-list" name="ignore-adv-list" class="list" multiple="true" size="16">
                                % for x in sorted(c.ignored.get('adv').keys()):
                                    <optgroup label=${x}>
                                        % for y in sorted(c.ignored.get('adv')[x]):
                                            <optgroup label=${y}>
                                                % for z in c.ignored.get('adv')[x][y]:
                                                    <option value='${z['guid']}'>${z['title']}</option>
                                                % endfor
                                            </optgroup>
                                        % endfor
                                    </optgroup>
                                % endfor
                            </select>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <hr/>
    <a href="${h.url_for(controller='adload', action='campaign_overview', id=c.campaign.id)}">&larr; к управлению
        кампанией</a>

</div>
</div>

<script type="text/javascript">
    var Thematics = Backbone.Collection.extend({
        initialize: function () {
            this.fetch();
        },
        url: '/adload/thematics/${c.campaign.id}',
        model: Backbone.Model.extend({
            default: {
                name: ''
            }
        })
    });
    var thematics = new Thematics();
    var set_thematics = function (model, collection, options){
        var ids = collection.map(function(m){
            return m.get('path');
        });
        $('#thematics').val(ids.join());
    };
    thematics.on('add', set_thematics);
    thematics.on('remove', set_thematics);
    var MyChildView = Marionette.ItemView.extend({
        className: 'jqtree-element',
        template: _.template('<span class="name"><\%= name \%></span>' +
                        '<i class="material-icons cancel">cancel</i>'),
        ui: {
            del: "i.cancel"
        },
        triggers: {
            "click @ui.del": "remove"
        }
    });
    var MyCollectionView = Marionette.CollectionView.extend({
        collection: thematics,
        childView: MyChildView,
        childEvents: {
            remove: function (view) {
                this.collection.remove(view.model);
            }
        }
    });
    var myCollectionView = new MyCollectionView();
     myCollectionView.render();
     $('#thematic_camp').append(myCollectionView.el);
    var $tree = $('#thematic_tree').tree({
        dataUrl: {url: '/adload/thematic_tree'},
        useContextMenu: false,
        saveState: 'tree-${c.campaign.id}'
    });
    $tree.on(
        'tree.click',
        function (e) {
            e.preventDefault();
            var selected_node = e.node;
            if (selected_node.id === undefined) {
                console.log('The multiple selection functions require that nodes have an id');
            }
            else{
                if (thematics.length < 5){
                    thematics.add({
                        id: selected_node.id,
                        name:  selected_node.name,
                        path: selected_node.path
                    });
                }
            }
        }
    );

    var style_data_hide = function () {
        var val = $('#style_type').val();
        if ([
            'Style_1',
            'Style_2'
        ].indexOf(val) >= 0) {
            $('.style_data').show()
        }
        else {
            $('.style_data').hide()
        }
    };
    var field = $('#common-adv-list').find('option');
    var s = $('#common-adv-list');
    // собственно поиск
    $('#searchInput').bind('blur', function () {
        var q = new RegExp($(this).val(), 'ig');

        for (var i = 0, l = field.length; i < l; i += 1) {
            var option = $(field[i]).val();
            if ($(this).val().length > 0) {
                if (option.match(q)) {
                    field[i].selected = true;
                    var optionTop = s.find(field[i]).offset().top;
                    var selectTop = s.offset().top;
                    s.scrollTop(s.scrollTop() + (optionTop - selectTop));
                }
                else {
                    field[i].selected = false;
                }
            }
        }
        s.trigger('refresh');
    });
    $('input, select').styler({selectVisibleOptions: 400});
    $('#geoTargeting').styler('destroy');
    $('#regiontargeting').styler('destroy');
    $('#all_categories').styler('destroy');
    $('#all_device').styler('destroy');
    $('#common-accounts-list').styler('destroy');
    $('#common-domains-list').styler('destroy');
    $('#common-accounts-list').select2();
    $('#common-domains-list').select2();
    $('#all_categories').select2();
    $('#all_device').select2();
    $('#geoTargeting').select2();
    $('#regiontargeting').select2();
    style_data_hide();
    $('#style_type').change(style_data_hide);

</script>
