# -*- coding: utf-8 -*-
<%!
	from random import randint
	id = randint(0,99999)			# Случайное число, которое будет добавляться к id формы.
									# Это нужно для случая, когда этот шаблон будет динамически загружаться во вкладки.
									# Таким образом мы обеспечиваем уникальность id формы на странице
	from getmyad.model import Permission, Account 
%>
		
<style type="text/css">
    tr.header
    {
        cursor:pointer;
        text-align: left;
        font-size: 18px;
        color: #2f55d0;
        text-decoration: underline;
    }
	
	#dialogSetPassword label, #dialogSetPassword input{
		display: block;
	}
	
	#dialogSetPassword input {
		margin-bottom: 10px;
	}
	
	#dialogSetPassword fieldset {
		padding:0;
		border:0;
		margin-top:15px; 
	}

.errorMessage {
	color: red;
}
span.psw-error-message, span.fields-error-message {
	color: red;
}
.spanAccountSumm {      /* Сумма на счету */
  font-weight: bold;
  font-size: larger;
}
</style>

% if c.permission.has(Permission.EDIT_USERS_ACCOUNT):
<div id="accordion">
  
<h3><a href="#">Детали пользователя</a></h3>  
<div id="userDetails">
		<h2>${c.login}</h2>
        <button id="edit-psw-button" name="edit-psw-button" class="edit-psw-button">Изменить пароль</button>
        <p>
        <button id="delete-account-button" name="delete-account-button" class="delete-account-button">Удалить аккаунт</button>
        </p>
		<form action="/manager/saveUserDetails" method="post" id="user-details-${id}" name="user-details-${id}">
		 <input type="hidden" name="token" id="token" value="${c.token}"/>
		 <input type="hidden" id="login" name="login" value="${c.login}"/>
		
		 <span id="fields-error-message" class="fields-error-message"></span>
			<table>
				<tr>
					<td>ФИО: </td>
					<td>${h.text('edit_name', value=c.edit_name)}</td>	
				</tr>
				<tr>
					<td>Номер телефона: </td>
					<td>${h.text('edit_phone', value=c.edit_phone)}</td>
				</td>	
				<tr>
					<td>Эл. почта: </td>
					<td>${h.text('edit_email', value=c.edit_email)}</td>
				</tr>
				<tr>
					<td>Skype: </td>
					<td>${h.text('edit_skype', value=c.edit_skype)}</td>
				</tr>
                <tr class="header hide" >
                    <th colspan="2">
                        Цены кликов и показов для Аккаунта <span>&rarr;</span>
                    </th>
                </tr>
                <tr>
                    <td>
                        Цена за рекламу по кликам
                    </td>
                </tr>
                <tr>
                    <td>Процент от цены рекламодателя:</td>
                    <td>${h.text('click_percent', value=c.click_percent, type="number")} %</td>
                </tr>
                <tr>
                      <td>но не менее</td>
                      <td>${h.text('click_cost_min', value=c.click_cost_min, type="number")} грн</td>
                </tr>
                <tr>
                     <td>и не более</td>
                     <td>${h.text('click_cost_max', value=c.click_cost_max, type="number")} грн</td>
                </tr>
                <tr class="header hide">
                    <th colspan="2">
                        Вывод средств <span>&rarr;</span>
                    </th>
                </tr>	
				<tr>
					<td>Минимальная сумма вывода:</td>
					<td>
                        <select name="edit_minsum" id="edit_minsum">
							% for x in [800, 720, 640, 560, 480, 400, 320, 240, 160]:
								 <option value="${x}">${x}</option>
							% endfor
						</select> грн
							<script type="text/javascript">
								document.getElementById("edit_minsum").value = '${int(c.edit_min_out_sum)}';
							</script>
					</td>
				</tr>
				<tr>
					<td> Работа по предоплате:</td>
					<td>${h.checkbox('edit_prepayment', value=c.edit_prepayment, checked=c.edit_prepayment)}</td>
				</tr>
				
				<tr>
					<td>Вывод на webmoney-z:</td>
					<td>${h.checkbox('edit_money_web_z', value=c.edit_money_web_z, checked=c.edit_money_web_z)}</td>
				</tr>
					
				<tr>
					<td>Вывод на webmoney-r:</td>
					<td>${h.checkbox('edit_money_web_r', value=c.edit_money_web_r, checked=c.edit_money_web_r)}</td>
				</tr>
					
				<tr>
					<td>Вывод на webmoney-u:</td>
					<td>${h.checkbox('edit_money_web_u', value=c.edit_money_web_u, checked=c.edit_money_web_u)}</td>
				</tr>
					
				<tr>
					<td>Вывод наличкой:</td>
                    <td>${h.checkbox('edit_money_cash', value=c.edit_money_cash, checked=c.edit_money_cash)}</td>
                </tr>
				<tr>
					<td>Вывод на карточку:</td>
                    <td>${h.checkbox('edit_money_card', value=c.edit_money_card, checked=c.edit_money_card)}</td>
                </tr>
				<tr>
					<td>Вывод на карточку Приват Банка UAH:</td>
                    <td>${h.checkbox('edit_money_card_pb_ua', value=c.edit_money_card_pb_ua, checked=c.edit_money_card_pb_ua)}</td>
                </tr>
				<tr>
					<td>Вывод на карточку Приват Банка USD:</td>
                    <td>${h.checkbox('edit_money_card_pb_us', value=c.edit_money_card_pb_us, checked=c.edit_money_card_pb_us)}</td>
                </tr>
                <tr>
                    <td>Вывод на Яндекс Деньги:</td>
                    <td>${h.checkbox('edit_money_yandex', value=c.edit_money_yandex, checked=c.edit_money_yandex)}</td>
                </tr>
                
				
				<tr>
                  <td>Вывод на счёт-фактуру:</td>
                      <td>${h.checkbox('edit_money_factura', value=c.edit_money_factura, checked=c.edit_money_factura)}</td>
				</tr>  
                <tr class="header">
                    <th colspan="2">
                    </th>
                </tr>
				<tr>
					<td> Ответственный менеджер: </td>
					<td>
                        <select ${'disabled="disabled"' if c.notAdmin else ''} name="edit_manager_get" id="edit_manager_get" class="user-details-manager-get">
							% for x in c.list_manager:
								<option value="${x}">${x}</option>
							% endfor
                        </select> 
					<script type="text/javascript">
//						$("#user-details-${id} .user-details-manager-get").val()
						document.getElementById("edit_manager_get").value = '${c.edit_manager_get}';
						if('${c.edit_manager_get}'=='------'||'${c.edit_manager_get}'=='')document.getElementById("edit_manager_get").selectedIndex = 0;						
					</script>
					</td>
				</tr>
				
				<tr>
					<td>Блокировка аккаунта: </td>
					<td>
						${h.select(name="edit_account_blocked", selected_values=c.edit_account_blocked,
							options=[('', u'Аккаунт не заблокирован'),
									 ('light', u'Временная приостановка'),
									 ('filter', u'Фильтрация кликов'),
									 ('banned', u'Полностью заблокирован') ])}
						<acronym title="Временная приостановка используется для аккаунтов, которые перестали использовать наши информеры.
						Клики и показы по аккаунтам с такой блокировкой не учитываются, но пользователь может самостоятельно отменить её, зайдя в свой кабинет.
						Полная блокировка применяется для аккаунтов, замеченных в нарушениях и т.п. В этом случае, владелец полностью лишается своего аккаунта."
							style="font-size: smaller; border-bottom: 1px dashed gray"> в чём разница? </acrnonym>
					</td>
				</tr>	
				<tr>
                    <td>Фильтрация кликов по времени: </td>
					<td> не мельше
						${h.select(name="edit_time_filter_click", selected_values=c.time_filter_click,
							options=[(x,x) for x in xrange(5,500,15)])}
                        секунд
					</td>
				</tr>
                <tr>
                    <td>Цена рекламодателя: </td>
					<td>
						${h.select(name="edit_cost_percent_click", selected_values=c.cost_percent_click,
							options=[(x,x) for x in xrange(5,101)])}
                        процентов
					</td>
				</tr>
				
			</table>

			<span id="error-message"></span>
			<p/>
			<button class="submit-button">Сохранить</button>
		</form>
		
		<div id="dialogSetPassword" title="Установка нового пароля" style="display: none;">
			Установить новый пароль пользователю <b><span id="dialogSetPassword_user"> %username% </span> </b>
			<form>
			  <input type="hidden" name="token" id="token" value="${c.token}">
				<fieldset>
					<label for="dialogSetPassword_psw1">Новый пароль:</label>
					<input type="text" name="dialogSetPassword_psw1" id="dialogSetPassword_psw1" class="text ui-widget-content ui-corner-all"/>
					<label for="dialogSetPassword_psw2">Повторите пароль:</label>
					<input type="text" name="dialogSetPassword_psw2" id="dialogSetPassword_psw2" class="text ui-widget-content ui-corner-all"/>
					<button id="generate-psw-button" name="generate-psw-button" class="generate-psw-button">Сгенерировать</button>
				</fieldset>
					<span id="psw-error-message" class="psw-error-message"></span>
			</form>
		</div>
		<div id="dialogDeleteAccount" title="Удаление аккаунта" style="display: none;">
			Удалить аккаунт пользователя <b><span id="dialogDeleteAccount_user"> %username% </span> </b>
			<form>
			  <input type="hidden" name="token" id="token" value="${c.token}">
			  <span id="delete-error-message" class="delete-error-message"></span>
			</form>
		</div>
</div>

<h3><a href="#">Категории Доменов</a></h3>
    <div id="edit_domain_categories">
      <form action="/manager/saveDomainCategories" method="post" id="save-domain-categories-${id}" name="save-domain-categories-${id}">
        <input type="hidden" name="token" id="token" value="${c.token}">
        <input type="hidden" id="login" name="login" value="${c.login}"/>
        <table>
          <tr>
            <td>
              <label for="account_domains">Домены</label>
              <select name="account_domains" id="account_domains" multiple='true' size='15'>
                % for x in c.account_domains:
                   <option>${x}</option>
                % endfor
              </select>
            </td>
        
            <td>  
              <label for="categories">Категории</label>
              <select name="categories" id="categories" multiple='true' size='15'>
                % for x in c.categories:
                    <option value="${x['guid']}">${x['title']}</option>
                % endfor
              </select>
            </td>
        </tr>      
        </table>  
        <button class="submit-button">Сохранить категории</button>
        <span id="categories-error-message" class="categories-error-message"></span>
      </form>
  </div>

<h3><a href="#">Цены кликов и показов для РБ</a></h3>
<div id="cost_block_edit">
    <table id="table_block_cost"></table>
</div>    

<h3><a href="#">Выводы средств</a></h3>
  <div>
    Сумма на счету <span class="spanAccountSumm">${'%.2f' % c.accountSumm} грн.</span>. <br/>
    Доступно к выводу <span class="spanAccountSumm">${'%.2f' % c.accountOutSumm} грн.</span>. <br/>
    % if c.prepayment: 
      Работа по предоплате.
    % endif  
    <table id="accountMoneyOutHistoryTable"> </table>
  </div>
 
<h3><a href="#">Статистика</a></h3>
  <div>
    <table id="accountDomainsStatsTable"></table>
  </div>
  
<!--h3><a href="#">Настройка веток воркера для РБ</a></h3>
<div id="settings_block_edit">
    <table id="settings_block"></table>
</div-->    

    
</div>  <!-- end #tabs  or accordion-->		
<!--===================================================================== -->
<script type="text/javascript">
    UserDetailUI(${id}, '${c.login}', ${c.informers}, ${c.div_to_open}, ${h.JSON(c.domains_categories)}, ${h.JSON(c.categories)}, ${c.accountMoneyOutHistory});
</script>
% endif		
				
	</body>
</html>
